<div class="text-center">
  <div class="buffer-both"></div>
  <div class="row buffer-bottom">
    <%= render partial: 'items/item', collection: @items %>
  </div>
  <div class="apple_pagination">
    <div class="text-left "><%= will_paginate @item, class: 'text-center' %>&copy; Sergey Drach 2016</div>
  </div>
</div>
